<!DOCTYPE html>
<html lang="en">

<head>
	<title>EdoHub</title>
	<meta charset="utf-8" />
	
	<meta name="viewport" content = "width=device-width, initial-scale=1.0, shrink-to-fit=no">
	
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'hub/vendor/bootstrap/css/bootstrap.min.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'hub/css/header.css' %}" type = "text/css"/>

</head>

<body id="page-top">

  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/accounts/logout/">Logout</a></li>
    </ul>
  </div>
</nav>


  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </section>
 

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'hub/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'hub/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>